<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salt.board.BoardMapper">
	<!--  INSERT -->
	<insert id="insertBoard" parameterType="BoardVO">
        <selectKey keyProperty="i_board" resultType="int" order="BEFORE">
            SELECT seq_board.nextval FROM dual
        </selectKey>
        INSERT INTO t_board
        (i_board, title, ct, ipaddr)
        VALUES
        (#{i_board}, #{title}, #{ct}, #{ipaddr})        
    </insert>
    
	
	<!--  SELECT -->
	<select id="getBoardList" resultType="BoardVO">
	    SELECT 
	    	i_board, title, cnt, to_char(r_dt, 'yyyy-mm-dd') as r_dt
	    FROM t_board 
	    ORDER BY i_board DESC
	</select>
	
	<select id="getBoardDetail" resultType="BoardVO" parameterType="BoardVO">
	    SELECT 
	    	i_board, title, ct, cnt, to_char(r_dt, 'yyyy-mm-dd') as r_dt
	    FROM t_board 
	    WHERE i_board = #{i_board}
	</select>
	
	<!--  UPDATE -->
	<update id="updViewCnt" parameterType="BoardVO">
	    UPDATE t_board
	    SET cnt = cnt + 1
	    	, ipaddr = #{ipaddr}
	    WHERE i_board = #{i_board}
	    AND ipaddr != #{ipaddr}
	</update>
	
	<!--  DELETE -->
    
    
</mapper>